
<div  class="md-inline-form" layout="column" ng-controller="signUpCtrl">

    <md-content layout-padding="">
        <form name="signUpForm">
            <div layout-gt-xs="row">

                <md-input-container>
                    <label>Email</label>
                    <input name="email" pattern="{{emailRegex}}" required ng-model="user.email" type="email">
                </md-input-container>
            </div>

            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="user.password" name="password" type="password" required>
                </md-input-container>

                <md-input-container>
                    <label>Confirm Password</label>
                    <input ng-model="user.passwordRepeat" type="password" required name="passwordRepeat" ng-pattern="{{user.password}}">
                </md-input-container>
            </div>

            <div class="apiErrorMsg">{{errorMsg}}</div>

            <md-button ng-disabled="signUpForm.$invalid" class="md-raised md-primary" ng-click="signup()">Submit</md-button>
        </form>

    </md-content>


</div>